<div class="p-3">
	<div class="card">
		<div class="card-header">
			Registrar datos
		</div>
		<div class="card-body">
			<form action="">
				<div class="row">
					<div class="col-md-3 mb-3">
						<label for="" class="form-label">Nombre</label>
						<input type="text" class="form-control">
					</div>
					<div class="col-md-3 mb-3">
						<label for="" class="form-label">Apellido</label>
						<input type="text" class="form-control">
					</div>
					<div class="col-md-3 mb-3">
						<label for="" class="form-label">DNI</label>
						<input type="text" class="form-control">
					</div>
					<div class="col-md-3 mb-3">
						<label for="" class="form-label">Género</label>
						<div class="radioGroup">
							<label for="">
								Masculino
								<input type="radio">
							</label>
							<label for="">
								Femenino
								<input type="radio">
							</label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 mb-3">
						<label for="" class="form-label">Fecha de nacimiento</label>
						<input type="date" class="form-control">
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-md-12 mb-3 text-end">
						<button class="btn btn-primary">
							Registrar datos ingresados
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>